<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-brand">
      <span class="brand-icon">✈️</span>
      WonderLust
    </a>
    
    <button class="nav-toggle" id="navToggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    
    <ul class="nav-menu" id="navMenu">
      <li><a href="/" class="nav-link"><b>Home</b></a></li>
      <li><a href="/listings" class="nav-link"><b>All Listings</b></a></li>
      <li><a href="/listings/new" class="nav-link"><b>New Listing</b></a></li>
    </ul>
  </div>
</nav>
